<div class="container">
  <div class="row justify-content-center">
      <font size="7">About</font>
  </div>
  <div class="row justify-content-center">
    <div>
       <font size="5">ながのCAKEは全国発送可能なケーキさんです。</font></br>
       <font size="5">お子様からお年寄りの方までお召しいただけるよう、</font></br>
       <font size="5">様々なバリエーションを用意しております。</font></br>
       <font size="5">また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</font></br>
       <font size="5">ぜひご注文ください。</font></br>
    </div>
  </div>
</div>