<div class="container">
  <div class="row">
    <div class="col-md">
      <h3>商品一覧</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <table>
        <thead>
          <tr>商品ID</tr>
          <tr>商品名</tr>
          <tr>税抜価格</tr>
        </thead>
      </table>
    </div>
  </div>
</div>